<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/assets/css/sanitize.css" async>        
        <link rel="stylesheet" type="text/css" href="/assets/css/main.css" async>
        <script src="/assets/js/text-balancer.js"></script>
        <title>{{ page.title }}</title>
    </head>
    <body>
        <nav>
            <div class="navbar-title"><a href="/">Jonah Smith</a></div>
            <div class="navbar-navlinks">
                <a href="/about">About</a>
                <a href="/blog">Blog</a>
            </div>
        </nav>
        <div class="content">