---
---

$dark-text: #111;
$light-text: #464646;

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: $dark-text;
    margin: 0 20px;
}

h1, h2, h3, h4 {
    letter-spacing: -0.015em;
}

img {
    max-width: 100%;
}

a,
a:hover,
a:active,
a:focus,
a:visited {
    color: $dark-text;
}

nav {

    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 0;

    a {
        color: $dark-text;
        text-decoration: none;
    }

    .navbar-title {
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 24px;
    }

    .navbar-navlinks :not(:last-child) {
        margin-right: 20px;
    }

}

.projectList {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 1em;
}

.project {
    width: 50%;
    padding: 20px;
    margin-bottom: 20px;
    display: inline-block;

    @media screen and (min-width: 1100px) {
        width: 33%;
    }

    @media screen and (max-width: 768px) {
        width: 100%;
        padding: 0;        
        margin-bottom: 3em;
    }

    .project-preview {
        max-width: 100%;
        border: 1px solid $light-text;
    }

    .project-title {
        margin-bottom: 0;
        font-size: 16px;
        text-transform: uppercase;
    }

    a {
        color: $dark-text;
        text-decoration: none;
    }

    .project-subtitle {
        font-size: 12px;
        font-weight: 400;
        margin: 0;
        margin-top: 0.5em;
    }
}

.page-content {
    max-width: 768px;
    margin: 0 auto;

    p, li {
        font-family: Georgia, 'Times New Roman', serif;
        font-size: 18px;
        line-height: 1.4em;
    }

    .blog-titleBlock {
        margin-bottom: 3em;
    }

    .date {
        font-size: 14px;
        text-transform: uppercase;
    }
}

.blogList {
    margin-top: 3em;
}

.blogPreview {
    margin-bottom: 2em;

    a {
        text-decoration: none;
        color: $dark-text;
    }

    .blogPreview-title {
        margin: 0;
        line-height: 1em;
    }

    .blogPreview-date {
        font-weight: normal;
        margin: 0;
        margin-top: 0.5em;
        text-transform: uppercase;
        font-size: 12px;
    }

}

.embed-container { 
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin-top: 3em;
    margin-bottom: 3em;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.homeTitle {
    text-align: center;
}

.writingPreview {
    margin: 2em 0;
}

.writingPreview-title,
.writingPreview-context,
.writingPreview-date {
    margin: 0;
    line-height: 1em;

    a {
        text-decoration: none;
    }
}

.writingPreview-context,
.writingPreview-date {
    margin-top: 0.5em;
    font-weight: normal;
    font-size: 14px;
}