---
layout: default
---

<div class="callout">
	{{ content }}
</div>

<div class="projectList">
    {% for page in site.data.featured %}
	<div class="project">
		{% if page.featured_image %}
		<a href="{{ page.permalink }}">
			<img class="project-preview" src="/assets/images/portfolio{{ page.featured_image }}"></img>
		</a>
		{% endif %}
		<h1 class="project-title"><a href="{{ page.permalink }}">{{ page.name }}</a></h1>
		<h2 class="project-subtitle">{{ page.company }}</h2>
	</div>
    {% endfor %}
</div>